@font-face {
    font-family: Josefin Sans Light;
    src: url(../assets/josefin-sans/JosefinSans-Light.ttf);
}

@font-face {
    font-family: Josefin Sans SemiBold;
    src: url(../assets/josefin-sans/JosefinSans-SemiBold.ttf);
}

@font-face {
    font-family: Josefin Sans Regular;
    src: url(../assets/josefin-sans/JosefinSans-Regular.ttf);
}

body{
    background-color: #18234d !important;
    margin: 0;
    padding: 0;
}

#middleWebsite {
    color: #EEEAF5;
    font-family: Josefin Sans Regular;
    margin-top: 1.6em;
    height: 77vh;
}

#userInfo{
    padding-left: 4em;
}

#profilePicture{
    width:6em;
    border-radius: 50%;
}

input[type="radio"]{
    display: none;
}

#unlockedWords{
    background-color: #eeeaf5;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    height: 8em;
}

#unlockedWords p{
    color: #18234d;
}

#manageRebus p, #manageUsers p, #statistics p{
    font-size: 26px;
    font-family: Josefin Sans Light;
}

#unlockedWords h4, #unlockedWords h2{
    color: #732AD9;
}

#unlockedBadges{
    background-color: #827397;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    height: 8em;
    border-color: #827397;
}

#unlockedBadges h4, #manageRebus p, #unlockedBadges h3{
    color: #EEEAF5;
}

#mnuseLeague p, #mnuseLeague h4{
    color: #EEEAF5;
}

#mnuseLeague p{
    font-family: Josefin Sans Light;
}

#mnuseLeague{
    background-color: #732AD9;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8em;
}

#manageUsers, #manageRebus, #statistics{
    background-color: #eeeaf5;
    border-radius: 15px;
    min-height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18234d;
}

#manageUsers button, #statistics button{
    border: none;
    height: 8em;
    color: #18234d;
    background-color: #EEEAF5;
}

#manageRebus button{
    border: none;
    height: 8em;
    background-color: #827397;
    color: #eeeaf5;
}

#manageRebus{
    background-color: #827397;
    border-radius: 15px;
    min-height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editBtn img{
    width: 1.3em;
}

#editBtn{
    background-color: #18234d;
    border: none;
    width: 0.5em;
    box-shadow: none;
}

#info1{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3em 1fr;
    margin-top: 2em;
}

#info{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3em 1fr;
}

#info2{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3em 3.5em 1fr;
    margin-top: 1em;
}

#btnLogout{
    background-color: #18234d;
    color: #EEEAF5;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: #732AD9;
    text-decoration-thickness: 2px;
    font-size: 1.2em;
}

#btnLogout:hover{
    text-decoration-color: #eeeaf5;
}

input[type=radio] + label {
    background-size: cover;
    height: 120px;
    width: 120px;
    display: inline-block;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

input[type=radio]:checked + label {
    border-color: #732AD9;
}

#info h2, #info1 h2{
    text-transform: uppercase;
    font-family: Josefin Sans Light;
}

#emailInfo{
    font-family: Josefin Sans Light;
}

#unlockedWords button{
    border: none;
    background-color: #EEEAF5   ;
}

#unlockedBadges button{
    border: none;
    background-color: #827397;
}

#mnuseLeague button{
    border: none;
    background-color: #732AD9;
}

p{
    margin-bottom: 0 !important;
}

.urlRebusInput {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 12em;
    height: 100%;
}

.urlRebusInputLabel {
    width: 140px;
    height: 140px;
    background-image: url('../assets/imgs/fileIcon.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 1px solid #18234d;
    border-radius: 10px;
}

#urlRebusInputLabel {
    display: inline-block;
    width: 140px;
}

#answerRebus, #descriptionRebus{
    background-color: #EEEAF5;
    border: none;
    border-bottom: 1px solid #18234d;
}

#badge{
    width: 5em;
}