body{
    background-color: #eeeaf5;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    grid-template-areas: "door video";
    align-items: start;
    justify-items: center;
}

#divImgPorta {
    grid-area: door;
}

#imgPorta {
    width: 30vw; 
    height: auto;
}

#divVideo {
    margin-top: 17vh;
    grid-area: video;
    position: relative;
    overflow: hidden;
    border: 5px solid #827397;
    border-radius: 40px;
    width: 55vw;
    height: 60vh;
    display: grid;
    place-items: center;
    margin-left: 2vw;
}


#videoDoor {
    border-radius: 30px;
    position: absolute;
    width: 97%;
    height: 95%;
}
