/* body{
    background-color: #eeeaf5;
    position: absolute;
} */

body{
    background-color: #18234d !important;
}

#rowVideo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #eeeaf5;
    border-radius: 15px;
    align-items: center;
}

#imgPorta {
    width: 30em; 
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    min-height: 20%;
    min-width: 20%;
}

#divImgPorta{
    flex: 1;
    display: flex;
    align-items: center;
}


#divVideo {
    margin-right: 3%;
    margin-top: 7%;
    overflow: hidden;
    border: 5px solid #827397;
    border-radius: 40px;
    width: 80em;
    height: 25em;
    display: grid;
    place-items: center;
}


#video {
    border-radius: 30px;
    position: relative;
    width: 97%;
    height: 95%;
}
