#footer{
    font-family: Josefin Sans Regular;
    background-color: #EEEAF5;
    padding-bottom: 20px;
    width: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.col-lg-3 h4{
    font-size: 1.375em;
    color: #18234D;
    font-weight: 500;
    position: relative;
}

.col-lg-3 ul{
    padding: 0px;
}

.col-lg-3 h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -0.8em;
    background-color: #18234d;
    height: 0.01em;
    width: 2em;
}
  
.col-lg-3 ul li:not(:last-child){
    margin-bottom: 0.675em;
}
  
.col-lg-3 ul li a{
    font-size: 1.125em;
    color: #18234d;
    text-decoration: none;
    font-family: Josefin Sans Light;
}

.col-lg-3 .social-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
}

.col-lg-3 .social-links a{
    height: 3.5em;
    width: 3.5em;
    background-color: #18234d;
    margin:0 1.15em 1.15em 0;
    text-align: center;
    border-radius: 50%;
    color: #EEEAF5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
  
.col-lg-3 .social-links a:hover{
    background-color: #732AD9;
}
  
input[id="subscribe"]{
    width:85%;
    height:3.5em;
    margin-bottom:2.3em;
    padding: 0;
    margin-top: 0;
    border:none;
    border-bottom:1px solid #18234d;
}
  
input[id="subscribe"]:active:focus,
input[id="subscribe"]:focus,
input[id="subscribe"]:hover{
    outline : none;
}
  
#subscribe{
    background-color: #EEEAF5;
}
  
::placeholder{
    font-size:1.1em;
    color:#18234d;
    font-family: Josefin Sans Light;
}
  
#subscribeBtn{
    width:13em;
    background:#18234d;
    border:none;
    border-radius:15px;
    color:#EEEAF5;
    font-family: Josefin Sans Light;
    height: 3em;
}
  
#subscribeBtn:hover{
    cursor:pointer;
    color: #EEEAF5;
    background-color: #732AD9;
}