@font-face {
    font-family: josefinSansRegular;
    src: url(../assets/josefin-sans/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: josefinSansLight;
    src: url(../assets/josefin-sans/JosefinSans-Light.ttf);
}

@font-face {
    font-family: josefinSansSemibold;
    src: url(../assets/josefin-sans/JosefinSans-SemiBold.ttf);
}

.hangman{
    border-radius: 15px;
    width: 100%;
}

#background {
    border-radius: 20px;
    position: relative;
}
  
.overlay{
    position: absolute;
    top: 1.8em;
    left: 1em;
    z-index: 1;
}

#game {
    color: #18234d;
    font-family: josefinSansRegular;
}

#game div h2{
    text-align: center;
}

body{
    background-color: #18234d !important;
}

.game-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.hangman {
    fill: transparent;
    stroke: #18234d;
    stroke-width: 4px;
    stroke-linecap: round;
}

.hangman-part {
    display: none;
}

.wrong-letters-container {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.hiddenWords {
    font: josefinSansSemibold;
    color: #732AD9;
    font-size: large;
}

.wrong-letters-container p {
    width: 1.2em;
    margin: 0.2em;
    display: flex;
    justify-content: center;
    background-color: #4D4C7D;
    border-radius: 5px;
    color: #eeeaf5;
}

#btnTryAgain {
    cursor: pointer;
    background-color: #732AD9;
    color: #eeeaf5;
    border:  #732AD9;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 2px;
}