@font-face {
    font-family: Josefin Sans Light;
    src: url(../assets/josefin-sans/JosefinSans-Light.ttf);
}

@font-face {
    font-family: Josefin Sans SemiBold;
    src: url(../assets/josefin-sans/JosefinSans-SemiBold.ttf);
}

@font-face {
    font-family: Josefin Sans Bold;
    src: url(../assets/josefin-sans/JosefinSans-SemiBold.ttf);
}

* {
	box-sizing: border-box;
}

body {
	background: #18234D;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: Josefin Sans Light;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	margin: 0;
}

h2 {
	text-align: center;
}

p:not(#smallerDevicesMessage p) {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

#smallerDevicesMessage p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	color: #18234d;
}


span {
	font-size: 12px;
}

a {
	color: #732AD9;
	font-size: 14px;
	text-decoration: none;
	margin: 12px 0 40px 0;
}

button, #logBtn {
	border-radius: 10px;
	border: 1px solid;
	background-color: #732AD9;
	color: #EEEAF5;
	font-size: 20px;
	height: 50px;
	width: 180px;
	transition: transform 80ms ease-in;
	font-family: Josefin Sans Light;
	margin-top: 20px;
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
}


button.ghost {
	background-color: transparent;
	border-color: #EEEAF5;
}

form {
	background-color: #EEEAF5;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input::placeholder{
	color: #8e9095;
}

input::placeholder:focus{
	color: #732AD9;
}

input:focus {
    border-bottom: 2px solid #732AD9;
	color: #8e9095;
	outline: none;
}

.error:focus {
	border-bottom: 2px solid red;
}

.success:focus {
	border-bottom: 2px solid green;
}

.blank:focus {
	border-bottom: 2px solid #8e9095;
}

input {
	border: 0px;
	border-bottom: 2px solid #8e9095;
	border-radius: 2px;
	padding: 8px 1px;
	margin: 8px 0;
	width: 100%;
	color: #8e9095;
	font-family: Josefin Sans Light;
	font-size: 16px;
	background: #EEEAF5;
}

.container form h1{
	color: #732AD9;
}

.container {
	background-color: #EEEAF5;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	top: 5%;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.log-in-container {
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .log-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #732AD9;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #EEEAF5;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.title{
	font-family: Josefin Sans Bold;
}

.title2{
	font-family: Josefin Sans SemiBold;
	margin-bottom: 40px;
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #smallerDevicesMessage{
		display: none;
	}

	.log-in-container, .sign-up-container {
		left: 0;
	}

	.container{
		width: 768px;
	}
}

@media only screen and (max-width: 767px) {
	.form-container {
		flex-direction: column;
	  }

	.overlay-container {
		display: none;
	  }

	  .container{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 394px;
	}

	.form-container{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 100vh;
	}

	.sign-up-container {
		display: none;
	}

	.log-in-container {
		display: contents;
	}

	input{
		width: 14em;
	}
	
}


@media only screen and (min-width: 1024px) {
    #smallerDevicesMessage{
		display: none;
	}

	.log-in-container, .sign-up-container {
		left: 0;
	}

	.container{
		width: 768px;
	}
}