#bgLevel{
    border-radius: 15px;
}

#sideInfo h3, #sideInfo p, #countdown{
    color: #EEEAF5;
}

#words{
    background-color: #732ad950;
    border-radius: 15px;
}

#countdown, #words, #challenges{
    font-size: 26px;
}

#butonsSideInfo button {
    background-color: #732AD9;
    width: 8em;
    height: 3em;
    color: #EEEAF5;
    border-radius: 15px;
    border: #732AD9;
    margin-top: 1%;
    margin-right: 1%;
}


