body{
    background-color: #18234d !important;
    margin: 0;
    padding: 0;
}

#middleWebsite {
    color: #EEEAF5;
    font-family: Josefin Sans Regular;
    margin: 1.6em 0 0 0;
    padding-left: 6em;
    padding-right: 6em;
    height: 38em;
}

table tr, table th, #addBorder{
    border: 1px solid;
}

table{
    border-radius: 15px;
    background-color: #EEEAF5;
    color: #18234D;
    width: 100%;
    text-align: center;
}

.table{
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit, .block, .unblock{
    font-family: Josefin Sans Light;
    background-color: #4D4C7D !important;
    color: #EEEAF5 !important;
    width: 7em;
    height: 2em;
}

.remove{
    font-family: Josefin Sans Light;
    background-color: #732AD9 !important;
    color: #EEEAF5 !important;
    width: 7em;
    height: 2em;
}

#searchBtn{
    background-color: #18234D;
    border: none;
    border-bottom: 2px solid #EEEAF5;
	border-radius: 2px;
    color: #EEEAF5;
}

#searchBtn:hover{
    box-shadow: none;
}

#searchBtn::placeholder{
    color: #EEEAF5;
}

input[type="button"]{
    border-radius: 8px;
    border: 0;
    width: 7em;
    height: 2em;
    color: #4D4C7D;
}

#editProfile select{
    border: none;
    background-color: #EEEAF5;
    color: #18234D;
}