.memory{
  border-radius: 15px;
  width: 100%;
}

#background {
  position: relative;
}

.memory-game {
  position: absolute;
  display: flex;
  padding: 0 160px;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 24px;
  top: 1em;
  left: 0;
  z-index: 1;
}

.game-board {
  width: 600px;
  height: 580px;
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  border: 3px solid #18234d;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  min-width: 110px;
  min-height: 110px;

  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: center center;
}

.card .front-face {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  transform: rotateY(180deg);

  backface-visibility: hidden;
}

.back-face {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #18234d;
  border-radius: 5px;
  backface-visibility: hidden;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card.matched {
  visibility: hidden;
}

#play-restart-btn {
  min-width: 160px;
  padding: 12px 24px;
  font-size: 24px;
  letter-spacing: 1.25px;
  background-color: #732ad9;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

#play-restart-btn:hover {
  background-color: #5817b4;
}

.play-restar-btn--restart {
  background-color: #eeeaf5 !important;
  color: #5817b4 !important;
  border: 2px solid #5817b4 !important;
}

.play-restar-btn--restart:hover {
  background-color: #e4ddf1 !important;
  color: #5817b4 !important;
  border: 2px solid #5817b4 !important;
}