.modal-dialog {
    top: 15%;
    z-index: 10;
}
  
.modal-content {
    padding: 0 40px;
    border-radius: 15px !important;
    background-color: #eeeaf5 !important;
    text-align: center;
}
  
.btnClose{
    position: absolute;
    right: 0;
    top: 0;
    color: #18234d;
    cursor: pointer;
    width: 5vh;
}

.close{
    border: none;
}
  
.modal-title {
    font-weight: 600;
    font-size: 26px;
    font-family: Josefin Sans Light;
    margin-top:0.8em;
    color: #18234d;
}

.modal-body{
    font-family: Josefin Sans Light;
    padding-top: 0 !important;
    font-size: 18px;
}

#newEmail, #oldPassword, #newUsername, #newPassword, #newCode {
    border: 0px;
    border-bottom: 2px solid #18234d;
    border-radius: 2px;
    padding: 8px 1px;
    margin: 8px 0;
    width: 100%;
    color: #18234d;
    font-family: Josefin Sans Light;
    font-size: 16px;
    background: #EEEAF5;
}

#newEmail::placeholder, #oldPassword::placeholder, #newUsername::placeholder, #newPassword::placeholder{
    color: #18234d;
}
    
#newEmail::placeholder:focus, #oldPassword::placeholder:focus, #newUsername::placeholder:focus, #newPassword::placeholder:focus{
    color: #732AD9;
}
    
#newEmail:focus, #oldPassword:focus, #newUsername:focus, #newPassword:focus {
    border-bottom: 2px solid #732AD9;
    color: #8e9095;
    outline: none;
}

#editPassword, #editEmail, #editUsername {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input[type="submit"] {
    border-radius: 10px;
    border: 1px solid;
    background-color: #18234d;
    color: #EEEAF5;
    font-size: 20px;
    height: 50px;
    width: 180px;
    transition: transform 80ms ease-in;
    font-family: Josefin Sans Light;
    margin-top: 20px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #732AD9;
}