@font-face {
    font-family: Josefin Sans Light;
    src: url(../assets/josefin-sans/JosefinSans-Light.ttf);
}

.container {
    border-radius: 15px;
    margin-top: 2vh;
}

#logo {
    height: auto;
    cursor: pointer;
}


nav{
    border-radius: 15px;
    background-color: #EEEAF5;
    height: 90%;
}

#rulesBtn, #abtUsBtn{
    background-color: #EEEAF5;
    border: 0;
    font-family: Josefin Sans Light;
    font-size: 22px;
    margin: 0px;
    color: #18234d;
    border-radius: 15px;
    margin-left:0.5em;
}

#loginBtn{
    background-color: #732AD9;
    font-family: Josefin Sans Light;
    font-size: 22px;
    border-radius: 15px;
    border: 0;
    margin: 0px;
    color: #EEEAF5;
}

#col3{
    background-color: #732AD9;
    border-radius: 15px;
}

input[type="button"]:hover{
    cursor:pointer;
}

#logBtn{
    border: none;
    background-color: #732AD9;
    margin: 0;
    cursor: pointer;
    text-align: center;
}

#burguerMenu{
    border: none;
    background-color: #EEEAF5;
    cursor: pointer;
}

#burguerMenu img{
    width: 3em;
}

#logBtn img{
    width: 2em;
}

@media only screen and (max-width: 767px) {
    #logo {
        margin-top: 2.2vh;
        margin-left: 2vh;
        width: 120px;
    }

    #burguerMenu img{
        width: 2.4em;
    }

    #logBtn img{
        width: 1.8em;
    }
}

@media screen and (min-width: 768px){
    #logo {
        margin-top: 0.6vh;
        margin-left: 2vh;
        width: 145px;
    }
} 

@media screen and (min-width: 992px){
    #logo {
        margin-top: 0.6vh;
        margin-left: 2vh;
        width: 160px;

    }

    #rulesBtn, #abtUsBtn{
        padding-left: 0vh;
        padding-right: 3vh;
    }
}

@media screen and (min-width: 1200px) {
    #logo {
        margin-top: 1vh;
        margin-left: 4vh;
        width: 160px;

    }

    #rulesBtn, #abtUsBtn{
        padding-left: 0vh;
        padding-right: 5vh;
    }
}