@font-face {
    font-family: josefinSansRegular;
    src: url(../assets/josefin-sans/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: josefinSansLight;
    src: url(../assets/josefin-sans/JosefinSans-Light.ttf);
}

@font-face {
    font-family: josefinSansSemibold;
    src: url(../assets/josefin-sans/JosefinSans-SemiBold.ttf);
}

.rebus{
    border-radius: 15px;
    width: 100%;
}

#background {
    position: relative;
    display: grid;
    justify-items: center;
}
  
.overlay{
    position: absolute;
    top: 1em;
    z-index: 1;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 1%;
}

#game h1 {
    color: #18234d;
    text-align: center;
    font-family: josefinSansRegular;
}

body{
    background-color: #18234d !important;
}

#divChallenges {
    border-radius: 15px;
    background-color: #827397;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "rebus1 rebus2"
                        "rebus3 rebus4";
    justify-items: center;
    width: 63em;
}

#rebus1 {
    grid-area: rebus1;
}

#rebus2 {
    grid-area: rebus2;
}

#rebus3 {
    grid-area: rebus3;
}

#rebus4 {
    grid-area: rebus4;
}

.card .img {
    background-color: #eeeaf5;
    border-radius: 1.5vw;
    width: 35%;
    height: auto;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: row !important;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    background: none !important;
    border: none !important;
}

#game input {
    border: none;
    border-bottom: #18234d 2px solid;
    background-color: #827397;
    width: 10vw;
    margin-left: 5%;
    margin-right: 2%;
    font-family: josefinSansRegular;
    color: #18234d;
    font-size: 20px;
}

#game ::placeholder {
    color: #18234d;
    opacity: 50%;
    font-size: 20px;
    font-family: josefinSansRegular;
}

#game input:focus{
    outline: 0;
    border-bottom: #18234d 2px solid;
    font-family: josefinSansRegular;
    color: #18234d;
    font-size: 20px;
}

.check{
    opacity: 0;
    width: 3vw;
    height: auto;
    margin-left: 3%;
}