body{
    background-color: #18234d !important;
    margin: 0;
    padding: 0;
}

#middleWebsite {
    color: #EEEAF5;
    font-family: Josefin Sans Regular;
    margin: 1.6em 0 0 0;
    height: 38em;
}

p li, p, .list{
    font-size: 24px;
}

h1{
    margin-bottom: 4vh !important;
}

#middleWebsite a{
    text-decoration: none;
    color: #EEEAF5;
    font-size: 24px;
}

@media only screen and (max-width: 767px) {
    #middleWebsite{
        padding-right: 2em;
        padding-left: 2em;
        height: 100%;
        margin-bottom: 4em;
    }
}